/* Menu */
.menu-wrap {
	position: absolute;
	height: 100%;
	width: 260px;
	background: none;
	font-size: 1.1em;
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu-list {
	height: 100%;
}

.menu-list {
    padding-top: 1.5em;
}

.menu-list a {
	color: #fff;
	font-weight: bold;
	display: block;
	padding: 1.8em 1em .3em 2.273em;
	position: relative;
}

.menu-list a:after{
	background: #fff;
	content: "";
	height: 1px;
	left: 2.2em;
	position: absolute;
	top: 50px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	width: 120px;
}

.menu-list a:active:after{
	-webkit-transform: scale(0);
	transform: scale(0);
}

.menu-list a:hover,
.menu-list a:focus{
	color: #fff;
}

.navbar-bottom {
	position: absolute;
    bottom: 0;
    padding-bottom: 1em;
}

@media screen and (max-width: 768px) {
   nav ul     { display: none; }
  .menu-wrap a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .menu-wrap .responsive {position: relative;}
  .menu-wrap .responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu-wrap .responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}